.proyectos-container {
    display: flex;
    background-color: #fff; /* Fondo blanco para toda la ventana */
    min-height: 100vh; /* Aseguramos que ocupe toda la pantalla */
    padding: 0; /* Eliminar padding innecesario */
    margin-left: 150px; /* Mantener el espacio para la sidebar */
    width: 100%; /* Aseguramos que ocupe todo el ancho disponible */
    box-sizing: border-box;
    margin-right: 450px; /* Ajustar para el espacio del sidebar */
}

.proyectos-content {
    flex: 1;
    padding: 40px; /* Añadir más espacio alrededor del contenido */
    width: 100%; /* Aseguramos que ocupe todo el ancho disponible */
    margin-top: 20px;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header h1 {
    color: #9D174D;
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
}

.nuevo-proyecto-btn {
    background-color: #F472B6;
    color: white;
    padding: 14px 18px;
    border-radius: 25px;
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease-in-out;
    width: auto;
    max-width: 250px;
}

.nuevo-proyecto-btn:hover {
    transform: scale(1.1);
}

.proyectos-table-container {
    margin-top: 30px;
    overflow-x: auto;
}

.proyectos-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    background-color: #fff; /* Fondo blanco para la tabla */
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
}

.proyectos-table th, .proyectos-table td {
    padding: 15px;
    border: 1px solid #ddd;
}

.proyectos-table th {
    background-color: #F472B6;
    color: white;
    font-size: 1.3rem;
}

.proyectos-table td {
    font-size: 1.1rem;
}

.status {
    padding: 7px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.status.progreso {
    color: #2D9C30;
    background-color: rgba(45, 156, 48, 0.2);
}

.status.planeando {
    color: #D7263D;
    background-color: rgba(215, 38, 61, 0.2);
}

.icon {
    font-size: 1.3rem;
    margin: 0 8px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.icon.edit {
    color: #9D174D;
}

.icon.delete {
    color: #D7263D;
}

.icon:hover {
    transform: scale(1.1);
}
