/* General container */
.recursos-container {
    display: flex;
    background-color: #F4F4F9; /* Fondo más neutro */
    min-height: 100vh;
    padding: 100px;
    margin-left: 270px;
    width: calc(100% - 270px);
    box-sizing: border-box;
    margin-right: 270px;
    flex-direction: column; /* Para tener los elementos en una sola columna */
    align-items: center; /* Centra todo el contenido */
}

/* Título */
.recursos-content h1 {
    color: #5D3F6B; /* Color morado elegante */
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

/* Contenedor de tarjetas */
.recursos-cards {
    display: flex;
    gap: 40px; /* Aumentado el gap para separar más las tarjetas */
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
}

/* Estilo de las tarjetas */
.recurso-card {
    width: 380px;
    background-color: #F9F9F9; /* Fondo suave para las tarjetas */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease-in-out;
    margin-bottom: 30px; /* Aumentado el margen inferior entre tarjetas */
}

.recurso-card:hover {
    transform: scale(1.05);
}

/* Títulos de las tarjetas */
.recurso-card h2 {
    color: #3C3C3C; /* Color gris oscuro */
    font-size: 1.6rem;
    margin-bottom: 10px;
}

/* Descripción de las tarjetas */
.recurso-card p {
    font-size: 1rem;
    color: #555555; /* Gris neutro */
    margin: 5px 0;
    font-weight: normal;
}

/* Campos de entrada */
.input-recurso, .select-recurso {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #D1C6E4; /* Borde suave */
    border-radius: 8px;
    font-size: 1rem;
    text-align: center;
    outline: none;
    transition: 0.3s;
    background-color: #F9F9F9; /* Fondo suave para entradas */
}

.input-recurso:focus, .select-recurso:focus {
    border-color: #5D3F6B; /* Color al enfocar */
}

/* Botón de agregar */
.btn-agregar {
    background-color: #5D3F6B; /* Morado elegante */
    color: white;
    padding: 14px 18px;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 20px auto; /* Asegura que el botón se centre automáticamente */
    width: auto; /* El ancho del botón se ajustará al contenido */
}

.btn-agregar:hover {
    background-color: #3C2F4A; /* Morado más oscuro al hacer hover */
    transform: scale(1.05);
}
